<div>
  <h1 class="title">
    Recruitment test
  </h1>

  <div>
    @!card({
      title: 'Bacon',
      link: '/bacon'
    })
    @!card({
      title: 'Checkout',
      link: '/checkout'
    })
  </div>
</div>
