<div class='welcomePage'>
  <h1 class='title'>
    Recruitment test
  </h1>

  <div class='cards'>
    @!component('components/card', {
      title: 'Bacon',
      link: '/bacon',
      number: '1'
    })
    @!component('components/card', {
      title: 'Checkout',
      link: '/checkout',
      number: '2'
    })
  </div>
</div>
