@layout('layouts/main')
@set('title', 'Bacon factory')

@section('entrypoints')
@super
@entryPointScripts('bacon')
@entryPointStyles('bacon')
@endsection

@section('body')
  @!component('snowdog/bacon', {
    img: '/images/bacon.jpg'
  })
@end
