<section id='submit' class='numbered'>
  <div class='inputFields'>
    <button type='submit'>
      @!component('components/icons/icon-cart')
      Complete Purchase
    </button>
  </div>
</section>
