<div class='inputField'>
  <div class='inputWrapper'>
    <label for={{ name }}>
      {{ label }}
    </label>
    <input
      id={{ name }}
      {{ $props.serializeExcept(['icon', 'label']) }}
    />
    @if(icon)
    <div class='icon'>
      {{{ await $slots.main() }}}
    </div>
    @end
  </div>
  <div id={{ `${name}-error` }} class='error'></div>
</div>
