<div class='inputField selectField'>
  <div class='inputWrapper'>
    <label for={{ name }}>
      {{ label }}
    </label>
    <select name={{ name }} id={{ name }}>
      @each(option in options)
        <option value={{ option.value }}>{{ option.caption }}</option>
      @end
    </select>
  </div>
</div>
